@import "../../styles/variables.scss";

.AdvancedAnalysis {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }

  .topic__info {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    color: map-get($colors, "bluegray");
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;

    p {
      font-size: map-get($font-size, "large-lg");
      font-weight: 600;
      text-align: center;
      width: 30%;
    }
  }
}