.Home {
    position: relative;
    height: calc(100vh - 90px);
}

.ProjectCard {  
    position: absolute;
    border-radius: 170px;
    bottom: 50%;
    text-align: center;
    right: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: inherit;
    }
}

.ProjectLabel {
    height: 1.5rem;
    overflow: hidden;
    position: absolute;
    bottom: 1.2rem;
    transform: translateY(50%);
    
    &__text {
        color: map-get($colors, "beige");
        font-family: $font-family-secondary;
        line-height: 1.5rem;
        margin: 0;
    }

    &--prev {
        left: 1rem;
        padding-right: 1rem;
    }
    
    &--next {
        right: 1rem;
        padding-left: 1rem;
    }
    
    @media screen and (min-width: 680px) {
        bottom: 50%;
        
        &--prev {
            left: 1.5rem;
        }

        &--next {
            right: 1.5rem;
        }
    }
}