@import "../../styles/variables.scss";

.NavButton {
	color: map-get($colors, "blue");
	text-decoration: none;
	padding: 0.4rem 1.4rem;
	border-radius: 1.5rem;
	white-space: nowrap;

	&--active {
		background-color: map-get($colors, "blue");
		color: map-get($colors, "white");
	}
}