@import "../../styles/variables.scss";

.Header {
	background-color: map-get($colors, "white");
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	box-shadow: 0 0 10px 0 rgba(map-get($colors, "darkgray"), 0.4);

	.logo {
		height: 45px;
		margin-right: 1rem;
	}

	&__leftLinks {
		display: inline-flex;
		align-items: center;
	}
}