@import "../../styles/variables.scss";

.IconButton {
	background-color: map-get($colors, "blue");
	border: none;
	border-radius: 2rem;
	padding: 5px;
	width: 30px;
	height: 30px;
	margin: 5px;

	&--large {
		width: 40px;
		height: 40px;
	}
}